<p>
  <b>Name:</b>
  <%=h @software.name %>
</p>
<p>
  <b>Processes:</b>
</p>
<table>
	<thead>
		<tr>
			<th>Proceso</th>
			
		</tr>
	</thead>
	<tbody>
		<% for proceso in @procesos %>
		<tr>
			<th><%= proceso.name %></th>				
		</tr>
		<% end %>
	</tbody>
</table>


<%= link_to 'Edit', edit_software_path(@software) %> |
<%= link_to 'Back', softwares_path %>