<% content_for :head do %>  
<%= javascript_include_tag 'jquery.dataTables','highcharts' %>  
<%= stylesheet_link_tag 'demo_table_jui' %>
<script type="text/javascript">
$(document).ready(function() {

	$('#jobs').dataTable({
	 "bJQueryUI": true,
		"aoColumns": [
			null,
            null
        ]
                   
	});
});
</script>
<% end %>

	
	<div id="jobs_chart" style="width:560px; height:300px"></div>


			<table id="jobs" title="jobs" summary="Tiene los trabajos ejecutados en PBS">
			<thead>
				<tr>
					<th>Group</th>
					<th>Cantidad</th>					
				</tr>		
			</thead>
			<tbody>
					<% for job in @jobs %>
					<tr>
							<td><%= job.group %></td>
							<td><%= job.proceso.software.name %></td>										
					</tr>
					<% end %>
			</tbody>
		</table>

		
		
		