<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title></title>
</head>
<body>
	<h1>Sequences</h1>
	<p> Corrio FreeDisk</p> 
	<table>
		<thead>
			<th>Size</th>
			<th>Name</th>
		</thead>
		<tbody>
	<% for sequence in @sequences %>
	<tr>
			<td><%= sequence.size %></td>
			<td><%= sequence.name %></td>
											
	</tr>
	<% end %>
		</tbody>
	</table>

</body>
</html>